NAMESPACE=postup
LOGGER=true
LOGLEVEL=info
SERVICEDIR=services # Inform moleculer runner about the location of service files

TRANSPORTER=nats://nats:4222
DISABLEBALANCER=true

DATABASE_URL=

STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_BUCKET_NAME=telegram.backet
STORAGE_ENDPOINT=https://s3.tebi.io

PORT=3000
FRONTEND_HOST=http://localhost:5173

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=-1002143287735