.card {
    position: relative;
    background-color: #b8dfb8;
}
.card::before {
    content: '';
    background-image: url('../../assets/appimg/actionsUI/telegram_background.png');
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

.text {
    z-index: 1000;
}
blockquote,
code {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before,
code:before {
    color: #ccc;

    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
blockquote p,
code p {
    display: inline;
}
.attachments {
    z-index: 1000;
}
.body {
    padding: var(--mantine-spacing-md);
}
